.widgets {
  flex: 0.2;
  position: sticky;
  top: 80px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widget_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widget_header > h2 {
  font-size: 16px;
  font-weight: 400;
}

.widget_article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widget_article:hover {
  background-color: whitesmoke;
}

.widgets_articleleft {
  color: #0177b7;
  margin-right: 5px;
}

.widgets_articleleft > .MuiSvgIcon-root {
  font-size: 15px;
}

.widgets_articleright {
  flex: 1;
}

.widgets_articleright > h4 {
  font-size: 14px;
}

.widgets_articleright > p {
  font-size: 12px;
  color: gray;
}
